FYKO_FlaskApplication/env1/
FYKO_FlaskApplication/models/
FYKO_FlaskApplication/Stuk-jszip-2ceb998/
FYKO_FlaskApplication/__pycache__/
FYKO_JupyterNotebook/.ipynb_checkpoints/FYKO-checkpoint.ipynb
.DS_Store
